.img-slider-img {
  flex-shrink: 0;
  flex-grow: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: translate 300ms ease-in-out;
}

.img-slider-btn {
  all: unset;
  position: absolute;
  top: 0;
  bottom: 0;
  padding: 1rem;
  cursor: pointer;
  transition: background-color 100ms ease-in-out;
}

.img-slider-btn:hover,
.img-slider-btn:focus-visible {
  background-color: rgba(0, 0, 0, 0.2);
}

.img-slider-btn:hover > *,
.img-slider-btn:focus-visible > * {
  animation: squish 200ms ease-in-out;
}

.img-slider-btn > * {
  width: 2rem;
  height: 2rem;
  stroke: white;
  fill: black;
}

.img-slider-page {
  all: unset;
  display: block;
  width: 1rem;
  height: 1rem;
  cursor: pointer;
  transition: scale 100ms ease-in-out;
}

.img-slider-page:hover,
.img-slider-page:focus-visible {
  scale: 1.2;
}

.img-slider-page > * {
  width: 100%;
  height: 100%;
  stroke: white;
  fill: black;
}

.img-slider-btn:focus-visible,
.img-slider-page:focus-visible {
  outline: auto;
}

.skip-link {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  border: 0;
  clip: rect(0, 0, 0, 0);
}

.skip-link:focus-visible {
  z-index: 100;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0.5rem;
  border: 1px solid black;
  background-color: white;
  clip: unset;
  text-decoration: none;
  color: black;
}

@keyframes squish {
  50% {
    scale: 1.4 0.6;
  }
}
